<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the Message</title>
</head>
<body>
    <h2>Edit Your Chat:<%= chat._id %></h2>
    <form action="" method="POST">
        <h4>From : <%=chat.from %></h4>
        <h5>Received: <%= chat.to %></h5>

    </form>
    <form action="">
        <textarea name="msg" id="msg"></textarea>
    </form>
</body>
</html>