<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <h2>The total number of users is: <%= count %></h2>
        <a href="/user"><button class="join-btn">Join Us Today</button></a>
    </div>
</body>
</html>
